body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: #1D7E2E;
    font-size: 18px;
}

.content{
    margin: 0;
    width: 100%;
}





/* ВХОД */

.entrance-block{
    width: 50%;
    margin: 0 auto;
    margin-top: 30vh;
    background-color: rgb(153, 223, 180);
    border-radius: 15px;
    padding: 40px;
    text-align: center;

}

.entrance-block img{
    border-radius: 20px;
    margin-top: -116px;
    margin-left: 3px;
    width: 150px;
}

.entrance{
    width: 50%;
    border-radius: 10px;
    background-color: #1D7E2E;
    padding: 5px;
    margin-top: 20px;
}

.create-an-account{
    width: 70%;
    border-radius: 10px;
    background-color: #979797b2;
    padding: 2px;
    margin-top: 23px;
    
}



.entrance-block h3{
    font-size: 22px;
    margin: 9px;
}


.entrance-block label{
    font-size: 20px;
    font-weight: 500;
    
}

.entrance-block input{
    width: 90%;
    margin-top: 5px;
    padding: 6px;
    border: 0;
    margin-bottom: 15px;
}


.entrance-block button{ 
    font-size: 18px;
    font-weight: 500;
    border: 0;
    margin-bottom: 5px;
   
}

.btn-6{
    background-color: #99dfb4;
    border-radius: 5px;
    text-decoration: underline;
}





/* РЕГИСТРАЦИЯ */

.regist {
        width: 50%;
    margin: 0 auto;
    margin-top: 30vh;
    background-color: rgb(153, 223, 180);
    border-radius: 15px;
    padding: 40px;
    text-align: center;
}


.regist img{
    border-radius: 20px;
    margin-top: -116px;
    margin-left: 3px;
    width: 150px;
}


.image{
    font-size: 18px;
    font-weight: 500; 
    border: 0;
    margin-bottom: 5px;
}


.btn-4{
    font-size: 15px;
}


.body-regist input{
    width: 100%;
    margin-top: 6px;
    padding: 6px;
    border: 0;
    margin-bottom: 15px;
}


.btn-4{
    width: 50%;
    border-radius: 10px;
    background-color: #1D7E2E;
    padding: 5px;
    margin-top: 20px;
}


.btn-5{
    width: 50%;
    border-radius: 10px;
    background-color: #1D7E2E;
    padding: 5px;
    margin-top: 20px;
    font-size: 15px;
}


.regist{
    font-size: 20px;
    font-weight: 500;
}




/* ЧАТ */

.chatse .chat{
    height: 63px;
    display: flex
}

.chat .user{
    display: flex;
}

.poisk{
    text-align: center;
    background-color: #8a9789;
    color: rgb(58, 58, 58);
    border: none;
    padding: 7px 18px;
    border-radius: 7px;
    font-size: 14px;
     &:hover{
        background-color: #d1e2d1;
    }
}

.chats{
    padding: 2px;
}

.chat-img-1{
    border-radius: 1000px;
    width: 60px;
   
}

.windows{
    margin: 0;
    padding: 4px;
    background-color: #1D7E2E;
    display: flex;
}

.chat{
    background-color: #25D366;
    height: 65px;
    display: flex;
    justify-content: space-between;
}

.chat .chat-img-1{
    width: 50px;
    height: 58px;
    border-radius: 100%;
    margin-top: 5px;
    
}

.table {
    height: 100vh;
}

.table-1 {
    border: 1px solid #05200728;
    height: 39px;
    display: flex;
    align-items:center;
    padding: 5px;
     &:hover{
        background-color: #788178;
         border-radius: 25px 25px 25px 25px;
    }
    cursor: pointer;
   
}


.table p{
    padding: 9px;
}


.table-1 img{
    width: 36px;
    border-radius: 20px;
    
}



input .text {
    width: 800px;
}



.sms{
    width: 700px;
    margin-top: 495px;
    height: 30px;
    border-radius: 5px;
    border: 0;
    margin-left: 30px;
  
}



 .smss button{
    height: 31px;
    border-radius: 5px;
    border: 0;
    background-color: #25D366;
    &:hover{
        background-color: #03a811;
    }
    cursor: pointer;
 
 } 

.windows {
    height: 100vh;
}



.user img{
    border-radius: 70%;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    
}

.chats .user-1{
    margin-right: 30px;
    font-style: italic;
    font-weight: normal;
    font-size: 21px;
}
  

/* КАРТОЧКА */

.user-block{
    width: 300px;
    background-color: #99dfb4;
    position: absolute;
    right: 2px;
    top: 67.4px;
    color: #2e2222;
    border-radius: 4px 4px 14px 14px;
}

.far img{
    height: 15px;
    width: 15px;
    border-radius: 40px;
    margin: -15px;
    margin-top: 20px;
    display: block;
    margin-left: 276px;
    position: absolute;
    top: -12px;
    box-shadow: 0 0 10px 2px rgba(17, 17, 17, 0.5);
    cursor: pointer;

}


.far-1 img{
       height: 150px;
    width: 150px;
    border-radius: 40px;
    margin: 0 auto;
    margin-top: 20px;
    display: block;

}




.user-block-body .email {
    margin-left: 50px;
}
    


.user-block-body .fam{
    margin-left: 120px;
}



.user-block-body .name{
    margin-left: 67px;
}



.user-block-footer div{
    width: 50%;
    float: left;
    text-align: center;
    height: 50px;
    position: relative;
    cursor: pointer;
}


.edit-profile{
     border-radius: 0 0 0 14px;
     &:hover{
        background-color: #788178;
    }
}


.logout{
    background-color: #25D366;
     &:hover{
        background-color: #03a811;
    }
    border-radius: 0 0px 14px 0px;
}





/* logout */





