body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: #1D7E2E;
    font-size: 18px;
}

.content{
    margin: 0;
    width: 100%;
}





/* ВХОД */

.entrance-block{
    width: 50%;
    margin: 0 auto;
    margin-top: 30vh;
    background-color: rgb(153, 223, 180);
    border-radius: 15px;
    padding: 40px;
    text-align: center;

}

.entrance-block img{
    border-radius: 20px;
    margin-top: -116px;
    margin-left: 3px;
    width: 150px;
}

.entrance{
    width: 50%;
    border-radius: 10px;
    background-color: #1D7E2E;
    padding: 5px;
    margin-top: 20px;
}

.create-an-account{
    width: 70%;
    border-radius: 10px;
    background-color: #979797b2;
    padding: 2px;
    margin-top: 23px;
    
}



.entrance-block h3{
    font-size: 22px;
    margin: 9px;
}


.entrance-block label{
    font-size: 20px;
    font-weight: 500;
    
}

.entrance-block input{
    width: 90%;
    margin-top: 5px;
    padding: 6px;
    border: 0;
    margin-bottom: 15px;
}


.entrance-block button{ 
    font-size: 18px;
    font-weight: 500;
    border: 0;
    margin-bottom: 5px;
   
}

.btn-6{
    background-color: #99dfb4;
    border-radius: 5px;
    text-decoration: underline;
}





/* РЕГИСТРАЦИЯ */

.regist {
        width: 50%;
    margin: 0 auto;
    margin-top: 30vh;
    background-color: rgb(153, 223, 180);
    border-radius: 15px;
    padding: 40px;
    text-align: center;
}


.regist img{
    border-radius: 20px;
    margin-top: -116px;
    margin-left: 3px;
    width: 150px;
}


.image{
    font-size: 18px;
    font-weight: 500; 
    border: 0;
    margin-bottom: 5px;
}


.btn-4{
    font-size: 15px;
}


.body-regist input{
    width: 100%;
    margin-top: 6px;
    padding: 6px;
    border: 0;
    margin-bottom: 15px;
}


.btn-4{
    width: 50%;
    border-radius: 10px;
    background-color: #1D7E2E;
    padding: 5px;
    margin-top: 20px;
}


.btn-5{
    width: 50%;
    border-radius: 10px;
    background-color: #1D7E2E;
    padding: 5px;
    margin-top: 20px;
    font-size: 15px;
}


.regist{
    font-size: 20px;
    font-weight: 500;
}




/* ЧАТ */

.chatse .chat{
    height: 63px;
    display: flex
}

.chat .user{
    display: flex;
}

.poisk{
    text-align: center;
    background-color: #8a9789;
    color: rgb(58, 58, 58);
    border: none;
    padding: 7px 18px;
    border-radius: 7px;
    font-size: 14px;
}


.chats{
    padding: 2px;
}

.chat-img-1{
    border-radius: 1000px;
    width: 60px;
   
}

.windows{
    margin: 0;
    padding: 4px;
    background-color: #1D7E2E;
    display: flex;
}

.chat{
    background-color: #25D366;
    height: 65px;
    display: flex;
    justify-content: space-between;
}

.chat .chat-img-1{
    width: 50px;
    height: 58px;
    border-radius: 100%;
    margin-top: 5px;
    
}

.table {
    
    height: 100vh;
}

.table-1 {
    border: 1px solid #05200728;
    height: 36px;
}

input .text {
    width: 800px;
}



.sms {
    width: 300px;
    height: 26px;
    margin-top: 2px;
    margin-left: 245px;
    margin-right: 40px;
    border-radius: 20px;
    border: 0;
    display: flex;
    
}



.smss{
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 30px;
    display: flex;
}

.otpr-sms {
    width: 85px;
   height: 29px;
    margin-top: 24px;
    margin-left: -34px;
    transform: translateY(-22.9px);
    border-radius: 25px;
    border: 0;
    background-color: #25D366;
    &:hover{
        background-color: #01d43688;
    }
}


.user img{
    border-radius: 70%;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    
}

.chats .user-1{
    margin-right: 30px;

}
  
.windows_1 {
    margin-top: 500px;
}